*{
    margin: 0;
    padding: 0;
}
.main{
    margin: 100px auto;
    width: 800px;
    height:100%;
    background-color: blanchedalmond;
    position: relative;
}
.push{
    width: 800px;
    height: 240px;
    border: 1px solid black;
    position: relative;
}
textarea{
    width: 600px;
    height: 170px;
    margin: 10px 60px 100px;
    resize: none;
}
.btn{
    width: 100px;
    height: 50px;
    position: absolute;
    top: 185px;
    right: 20px;
}
.content{
    padding: 10px 10px;
    width: 780px;
    height: 100%;
    border: 1px solid black;
}
.content>.contentText{
    font-size: 16px;
    line-height: 25px;
}
.contentTip{
    overflow: hidden;

}
.contentTip>.time{
    font-weight: bold;
    color: darkblue;
    float: left;
}
.contentTip>.delay{
    float: right;
}
.contentTip>.delay>a{
    text-decoration: none;
    margin-left: 10px;
}